
#dialogfreebtn:hover{
    background-color:#bebaba !important;
}
.changebleParam{
    cursor: pointer;
}

.whiteLink{
    color:white;
}
.whiteLink:hover{
    color:white;
}

.underlined{
    text-decoration: underline;
}